@page
@model DiamondDrillingReport.Pages.Drills.CreateModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<hr />
<div class="row">
    <div class="col-sm-9">
        <h4>@Localizer["DRILL"]</h4>
        <hr />
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label asp-for="Drill.DrillCode"></label>
                </div>
                <div class="form-group col-sm-4">
                    <input asp-for="Drill.DrillCode" type="text" class="form-control">
                </div>
                <div class="form-group col-sm-2">
                    <span asp-validation-for="Drill.DrillCode" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label asp-for="Drill.DrillNum"></label>
                </div>
                <div class="form-group col-sm-4">
                    <input asp-for="Drill.DrillNum" class="form-control">
                </div>
                <div class="form-group col-sm-2">
                    <span asp-validation-for="Drill.DrillNum" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label asp-for="Drill.DrillColour"></label>
                </div>
                <div class="form-group col-sm-4">
                    <input asp-for="Drill.DrillColour" class="form-control">
                </div>
                <div class="form-group col-sm-2">
                    <span asp-validation-for="Drill.DrillColour" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label asp-for="Drill.Modification"></label>
                </div>
                <div class="form-group col-sm-4">
                    <input asp-for="Drill.Modification" type="text" class="form-control">
                </div>
                <div class="form-group col-sm-2">
                    <span asp-validation-for="Drill.Modification" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label asp-for="Drill.DrillName"></label>
                </div>
                <div class="form-group col-sm-4">
                    <input asp-for="Drill.DrillName" class="form-control">
                </div>
                <div class="form-group col-sm-2">
                    <span asp-validation-for="Drill.DrillName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label asp-for="Drill.Depth"></label>
                </div>
                <div class="form-group col-sm-4">
                    <input asp-for="Drill.Depth" value="0" class="form-control">
                </div>
                <div class="form-group col-sm-2">
                    <span asp-validation-for="Drill.Depth" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-3"></div>
                <div class="form-group col-sm-3"></div>
                <div class="form-group col-sm-4">
                    <input type="submit" value="@Localizer["CREATE"]" class="btn btn-block" />
                </div>
                <div class="form-group col-sm-2"></div>
            </div>
        </form>
    </div>
    <div class="col-sm-3">
        <button type="button" id="btnQueryStringBack" class="btn btn-block">@Localizer["BACK"]</button><br /><br />
    </div>
</div>
@section Scripts {
    <script>
    </script>
}